<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.intel"
      version="0.1.0">
    <name>Intel cloud services</name>
    <description>Intel cloud services plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>


    <js-module src="www/intel.js" name="intel">
        <clobbers target="window.intel" />
    </js-module>

    <js-module src="www/context.js" name="context">
        <clobbers target="window.context" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Intel">
                <param name="android-package" value="org.intel.phonegap.IntelSDKPlugin"/>
            </feature>
            <feature name="Context">
                <param name="android-package" value="org.intel.phonegap.ContextSDKPlugin"/>
            </feature>
        </config-file>

        <!-- Libraries (Context and Cloud services) !-->
        <!-- <lib-file src="src/android/frameworks/contextstates-v1.0.446.jar" arch="simulator" /> !-->
        <lib-file src="src/android/frameworks/intel.cloudservices-1.0.1079.jar" arch="device" />
        <lib-file src="src/android/frameworks/contextstates-v1.0.446.jar" arch="device" />
        <!-- <lib-file src="src/android/frameworks/intel.cloudservices-1.0.1079.jar" arch="simulator" /> !-->

        <source-file src="src/android/IntelSDKPlugin.java" target-dir="src/org/intel/phonegap" />
        <source-file src="src/android/ContextSDKPlugin.java" target-dir="src/org/intel/phonegap" />
     </platform>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="Intel">
                <param name="ios-package" value="IntelSDKPlugin" />
            </feature>
            <feature name="Context">
                <param name="ios-package" value="ContextSDKPlugin" />
            </feature>
        </config-file>

        <framework src="libsqlite3.dylib" />
        <framework src="MediaPlayer.framework" />
        <framework src="AddressBook.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="EventKit.framework" />
        <framework src="SystemConfiguration.framework" />
         
        <!-- Copy resource file bundle iOS -->
        <resource-file src="src/ios/bundle/Settings.bundle" />

        <!-- Copy the libraries Context SDK -->
        <source-file src="src/ios/frameworks/libContext.a" framework="true" />

        <!-- Headers of context framework -->
        <!-- <header-file src="src/ios/frameworks/include/AccessToken.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ActionData.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ActionDataState.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/AppInstance.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Auth.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/AuthInitException.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/BatteryItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/BatteryTrackingService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/BehaviorModels.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CalendarItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CalendarTrackingService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CallItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CallTrackingService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CatalogService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CloudConnector.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CloudConnectorDelegate.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Common.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CommonContextSDK.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ContactsItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ContactsTrackingService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Context.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ContextError.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ContextPusher.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ContextService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ContextUser.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CurationService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CurrentApplicationsItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/CurrentAppsTrackingService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/DeviceInformationItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/FeedbackStructure.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/InstalledApplicationItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/InstalledAppsTrackingService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/IntelCloudServicesPlatformSDK.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Item.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ItemContext.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListActionType.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListCollection.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListCuration.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListDataset.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListenerCallback.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListenerInfo.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListItems.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListItemsCatalog.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListRecommendation.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListSchema.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ListState.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/LocalService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/LocalServiceDelegate.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/LocalServiceStartServiceDelegate.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/LocationClassifierListenerDelegate.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/LocationItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/LocationTrackingService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/LoginDialogDelegate.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/MessageItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Metadata.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/MusicItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/MusicTrackingService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/NetworkItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/NetworkTrackingService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/OnStatusCallback.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/PaginationException.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ParameterException.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Place.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/PointOfInterest.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Profile.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ProfileService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ProfileUpdateException.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ProviderInfo.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ProviderPublishDelegate.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ProviderRegistry.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/PurchaseList.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/QueryItem.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/RateList.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Reachability.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/RecommendationService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ResourcesType.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Results.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ResultsOperation.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ReviewList.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/SensingPusher.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/SensingStates.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/SensingWatch.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Services.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/ServicesUtils.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/SessionHandler.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/SOLStumbler.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/StateDAO.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/StateManager.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/StateManagerDelegate.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/StateProviderDelegate.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/TokenInformation.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Types.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/User.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/UserService.h" target-dir="contextlib" />
        <header-file src="src/ios/frameworks/include/Watches.h" target-dir="contextlib" /> !-->

        <header-file src="src/ios/frameworks/include" target-dir="include" />

        <!--Copy the native files:-->
        <header-file src="src/ios/IntelSDKPlugin.h" />
        <source-file src="src/ios/IntelSDKPlugin.m" />
        <header-file src="src/ios/ContextSDKPlugin.h" />
        <source-file src="src/ios/ContextSDKPlugin.m" />

    </platform>
</plugin>